.container {
    padding: 100px 0 40px 0;
}

.back {
    border-bottom: 1px solid grey;
}

.btn {
    background-color: transparent;
    border: none;
}

app-product-card-horizontal {
    width: 100%;
    height: 100%;
}