@import 'src/variables';
a {
    color: black;
    text-decoration: none;
}

.card {
    @include product-card(100%, 100%);
}

.product-name {
    @include product-name(18px);
}

.quantity {
    font-size: smaller;
}

.price {
    margin-bottom: 6px;
    padding: 10px;
    background-color: #01cccc24;
}

.discounted-price {
    @include discounted-price(18px);
}

.original-price {
    @include original-price(12px);
}

.btn {
    width: 100%;
}