@import 'src/variables';
.container {
    padding: 100px 0 40px 0;
}

.back {
    border-bottom: 1px solid grey;
}

.back-button {
    padding: 6px;
    background-color: transparent;
    border: none;
}

.card {
    @include product-card(100%, 100%);
}

.product-name {
    @include product-name(22px);
}

.col-2 {
    padding-left: 4px;
}

.wishlist {
    @include wishlist-button;
}

.price {
    margin: 10px 0;
    padding: 10px;
    background-color: #01cccc24;
}

.discounted-price {
    @include discounted-price;
}

.original-price {
    @include original-price;
}

.btn {
    width: 100%;
}